.carrinho {
    background-color: rgb(150, 157, 160);
}

.lista-carrinho {
    background-color: rgb(247, 249, 250);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}