body {
    margin: 0;
    /* Remove a margem padrão do navegador */
    padding: 0;
    /* Remove o preenchimento padrão do navegador */
    padding-top: 60px;
    /* Mantém o espaçamento no topo para a navbar fixa */
    font-family: sans-serif;
    box-sizing: border-box;
    /* Garante que o padding não aumente o tamanho total */
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* Garante que todos os elementos herdem esse comportamento */
}

#root {
    height: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding-top: 60px;
    text-align: center;
    max-width: 100%;
}

main {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(13, 113, 252);
    margin: auto;
    color: white;
}